/Annotation
/OUTPUT
/Sample_naiveCD8_TCF1_20160827000_peaks.xls
/src
/tracks_hup
/gene_promoterGenebody_UP_D_EX_10k_iv.bed
/HPC_Colonial_one
/current
cloud_mount_v2.sh
/main/move
/z/BAMPE_PEAKS/TLE3/TEST/union_all.
/main/tem
